<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>advait.pro</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://i.postimg.cc/hGLcg8gT/icon.png" rel="icon">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/advait87/blog@main/sites/style.css">
</head>

<body data-theme="light" class="font-sans-system min-h-screen flex flex-col">

  <main class="flex-grow w-full max-w-2xl mx-auto px-6 py-24 sm:py-32 text-left">
    <div id="posts-container"></div>
  </main>

  <!-- Injected data -->
  <script>
    window.BLOG_POST = {
      title: "__TITLE__",
      created_at: "__DATE__",
      content: `__CONTENT__`
    };
  </script>

  <script src="https://cdn.jsdelivr.net/gh/advait87/blog@main/sites/script.js"></script>
</body>

</html>
